<div class="form">
    <mat-card class="card">
        <mat-card-title>Login</mat-card-title>
        <hr>
        <mat-card-content>
            <form class="form-field" action="">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</div>