<mat-card class="card">
    <mat-card-title>
      <div class="title">
        <h1 class="v-middle">Atenção</h1>
      </div>
  
      <div class="close">
        <span mat-dialog-close><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
    </mat-card-title>
    <mat-card-subtitle> <span> Aviso(s)</span>
      <div class="line"></div>
    </mat-card-subtitle>
    <mat-card-content>
      <p>The Login or Password is incorrect</p>
      
    </mat-card-content>
    <hr>
    <mat-card-footer mat-elevation-z4>
      <a mat-stroked-button mat-dialog-close>OK</a>
    </mat-card-footer>
  </mat-card>